body{
    background-color: greenyellow;
}

#score{
    margin-right: 1000;
    font-size: 20;
    font-family: fantasy;
}

#timer {
    margin-left: 1000;
    font-size: 20;
font-family: fantasy
}

#sketch_drawn{
    color: red;
    font-size: 20;
    font-family: fantasy;
}

#sketches{
    font-family: fantasy;
    font-size: 20;
}

#confidence{
    font-family: fantasy;
    font-size: 20;
}